.allCareers {
  padding-top: 3%;
}

.jobCard {
  height: 70px;
  border-radius: 2px;
}
.jobTitle {
  color: #fed136 !important;
  cursor: pointer;
  font-size: 1.4em;
}

.categoryType {
  color: #fed136;
}
.categoryType:hover {
  background-color: #fed136;
  color: white;
}

.filterBy {
  color: #fed136;
}

.resetFilters:hover {
  color: #fed136;
}

.filtering {
  padding-top: 4%;
  padding-left: 2%;
}

.container{
  padding-top: 3%;
}