.careersTitle {
  color: #fed136;
  padding-top: 3%;
  padding-left: 3%;
}
.allCareers {
  padding-top: 5%;
}

.categoryType:hover {
  background-color: #fed136;
}

.selectCategory {
  color: #fed136;
}

/* .card-header {
  background-color: green;
  color: #fed136;
} */