.container {
  padding-top: 3%;
}

svg {
  padding-top: 5px;
}

.form-inline {
  padding-top: 8px;
}

.jobTypesSelect {
  padding-top: 8px;
}
.input-group-append{
  background-color: #bababa;
}

.form-control{
  background-color: #bababa;
}