.jobAd {
  width: 420px;
}

.container {
  padding: 3%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex: 1 100%;
}

mat-card {
  flex: 1 100%;
}

mat-card-actions {
  padding: 10px;
}

mat-card-footer {
  padding-left: 10px;
}

mat-card-actions a {
  cursor: pointer;
}

mat-card-content p {
  font-size: 18px;
}

mat-card-title p {
  font-size: 23px;
  font-weight: bold;
  color: #fed136;
}

/* .float-rigth{
    width: 100%;
} */
