.jobAd {
    width: 500px;
}

.container{
    padding: 3%;
}

mat-card-actions{
    padding: 10px;
}

mat-card-footer{
    padding-left: 10px;
}


mat-card-actions a{
    cursor: pointer;
    color:yellow;
}

mat-card-content p{
    font-size: 18px;

}


mat-card-title p{
    font-size: 23px;
    font-weight: bold;
}

