<div class="container">
    <h2 align="center" class="containerTitle">Create/Edit Contact</h2>
    <div class="container">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="col-md-6 mx-auto">
  
        <div class="form-group">
          <label for="name">Name</label>
          <input  class="form-control" id="name" pattern=".{3,120}"
          [(ngModel)]="editObj.name"
          name="name"
          required>
        </div>
  
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address"
          [(ngModel)]="editObj.address"
          name="address"
          required>
        </div>
     
        <div class="padding">
          <label for="isPrimary">IsPrimary</label>
          <input type="checkbox"
          [(ngModel)]="editObj.isPrimary"
          name="isPrimary">
        </div>
        <button [disabled]="!f.valid" type="submit" class="btn btn-success float-right">Submit</button>
        <a [routerLink]="['..']" class="btn btn-secondary float-left">Back</a>
      </form>
    </div>
  
  </div>
  