<div class="container">
  <h2 align="center" class="containerTitle">Create/Edit Button</h2>
  <div class="col-md-6 mx-auto">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" pattern=".{3,120}" [(ngModel)]="editObj.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="link">Link target</label>
        <input type="text" class="form-control" id="link" [(ngModel)]="editObj.link" name="link" required>
      </div>
      <div class="form-group">
        <label for="icon">Icon path</label>
        <input type="text" class="form-control" id="icon" [(ngModel)]="editObj.icon" name="icon" required>
      </div>
      <label for="type">Type</label>
      <select class="form-control" id="type" [(ngModel)]="editObj.type" name="type" required>
        <option>Action</option>
        <option>Social</option>
      </select>
      <div class="padding">
        <label for="hidden">Hidden</label>
        <input type="checkbox" [(ngModel)]="editObj.hidden" name="hidden">
      </div>
      <button type="submit" [disabled]="f.invalid || loading" class="btn btn-success float-right">Submit
        <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
      </button>
    </form>
    <button type="button" (click)="onBack()" class="btn btn-secondary">Back</button>
  </div>
</div>
