.title {
  color: #fed136;
  padding-bottom: 2%;
}

.fields {
  padding-top: 5%;
}

.fields label {
  color: #fed136;
  font-size: 1.2em;
}

.uploadButtons {
  cursor: pointer;
  border: 1px solid #fed136;
  border-radius: 2px;
}

.uploadButtons:hover {
  background-color: #fed136;
  color: white !important;
}