<div class="container">
  <div class="container fields col-md-6">
    <h2 class="title">Apply For {{job?.title}}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your first name" formControlName="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" formControlName="lastName">
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea type="text" class="form-control" id="comment" placeholder="Place down any comments" formControlName="comment" style="resize: none"
          rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="CV" class="btn btn-sm uploadButtons">Upload CV</label>
        <input style="visibility:hidden;" type="file" id="CV" (change)="onFileChange($event)" #CV accept=".pdf,.doc,.docx">
      </div>
      <div class="form-group">
        <label for="CoverLetter" class="btn btn-sm uploadButtons">Upload Cover Letter</label>
        <input style="visibility:hidden;" type="file" id="CoverLetter" (change)="onFileChange($event)" #CoverLetter accept=".pdf,.doc,.docx">
      </div>
      <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit
        <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
      </button>
      <button type="button" class="btn btn-danger" (click)="onBack()">Back</button>
    </form>
  </div>
</div>
