<div class="container">
  <h2>Buttons</h2>
  <div class="btn btn-secondary">Create</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Link</th>
          <th>Icon link</th>
          <th>Created at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let b of buttons">
          <td>{{b._id}}</td>
          <td>{{b.name}}</td>
          <td>{{b.icon}}</td>
          <td>{{b.link}}</td>
          <td>{{b.createdAt.slice(11,16)}} {{b.createdAt.slice(0,10)}}</td>
          <td>
            <div class="btn btn-secondary">Edit</div>
            <div class="btn btn-secondary">Delete</div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
