<div class="container">
  <div class="container fields col-md-6">
    <h2 class="title">Create/Edit</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" content-type="multipart/form-data">
      <div class="form-group">
        <label for="jobTitle">Title</label>
        <input type="text" class="form-control" id="jobTitle" placeholder="Job Title" formControlName="jobTitle">
      </div>
      <div class="form-group">
        <label for="jobDescription">Description</label>
        <textarea type="text" class="form-control" id="jobDescription"
        value="{{currentJob.description}}"
        placeholder="Job Description" formControlName="jobDescription"
        style="resize: none" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="jobCategory">Category</label>
        <select class="form-control" formControlName="jobCategory" id="jobCategory">
          <option *ngFor="let cat of allCategories" [ngValue]="cat.id">{{cat.type}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="jobStatus">Status</label>
        <select class="form-control" formControlName="jobStatus" id="jobStatus">
          <option *ngFor="let status of allStatuses" [ngValue]="status">{{status}}</option>
        </select>
      </div>
      <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit
        <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
      </button>
      <button type="button" class="btn btn-danger">Back</button>
    </form>
  </div>
</div>
