<div class="backgroundHome">
  <div class="container">
    <div class="row">
      <header class="masthead mx-auto">
        <div class="container ">
          <div class="intro-text">
            <div class="intro-lead-in">Welcome To PDC Careers!</div>
            <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
            <a *ngFor="let actionButton of actionButtons" 
            href="https://{{actionButton.name}}.com" class="btn btn-primary btn-xl text-uppercase">{{actionButton.name}}</a>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>