<div [lazyLoad]="background" [offset]="offset">
  <div class="container">
    <div class="row">
      <header class="masthead mx-auto">
        <div class="container ">
          <div class="intro-text">
            <div class="intro-lead-in">Welcome To PDC Careers!</div>
            <div class="intro-heading text-uppercase">It's Nice To Meet You</div>

            <ng-container *ngFor="let actionButton of actionButtons">
              <a *ngIf="!actionButton.hidden" href="{{actionButton.link}}" class="btn btn-primary btn-xl text-uppercase" target="_blank">{{actionButton.name}}</a>
            </ng-container>

          </div>
        </div>
      </header>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 border text-center align-text-middle">
      <p>{{homeText}}</p>
    </div>
    <div class="col-md-4">
        <!-- <p>{{homeText}}</p> -->
      </div>
    <div class=" col-md-4 zeroPadding">
        <iframe #iframe width="398" height="348" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        <!-- <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F{{fbPage}}%2F&tabs=timeline&width=398&height=348&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="398" height="348" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe> -->
    </div>

  </div>
</div>
<!-- fb sdk -->
<!-- <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> -->