<footer class="footer">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; PD Company Inc. 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          
          <li *ngFor="let socialButton of socialButtons" class="list-inline-item">
            <a *ngIf="!socialButton.hidden" href="https://www.{{socialButton.name.toLocaleLowerCase()}}.com">
              <i class="fa fa-{{socialButton.name.toLocaleLowerCase()}}"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <!-- <div class="fb-post float-rigth" data-href="https://www.facebook.com/DwayneJohnson/posts/10156656991149384" data-width="350" data-show-text="false"><blockquote cite="https://www.facebook.com/DwayneJohnson/posts/10156656991149384" class="fb-xfbml-parse-ignore"><p>Skin to skin. Our mana. 
      Blessed and proud to bring another strong girl into this world. 
      Tiana Gia Johnson came into...</p>Posted by <a href="https://www.facebook.com/DwayneJohnson/">Dwayne The Rock Johnson</a> on&nbsp;<a href="https://www.facebook.com/DwayneJohnson/posts/10156656991149384">Monday, April 23, 2018</a></blockquote></div> -->
  </div>
</footer>