<footer class="footer">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; PD Company Inc. 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          
          <li *ngFor="let socialButton of socialButtons" class="list-inline-item">
            <a *ngIf="!socialButton.hidden" href="{{socialButton.link}}">
              <i class="fa fa-{{socialButton.name.toLocaleLowerCase()}}"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</footer>