
.dropdown-menu a{
    background-color: #212529;
    color: white;
}


.dropdown-menu a:hover {
    background-color: white;
    color: #212529;
    }

.dropdown-menu {
    background-color: #212529;
    color: white;
}

.nav-link{
    cursor: pointer;
}

.user{
    pointer-events: none;
}